# Project Title - Exploratory data analysis Zomato Banglore

![](https://static.sportzbusiness.com/uploads/2020/09/Zomato.jpg)
I was always thought that where i get best food. In sometimes ago i was in Banglore city and i ordered some food from the Zomato and after that i was completely surprise after done food. It was delicious. I ordered food from zomato approx 4 to 5 times and all time i got happy. The service of zomato was very good at Banguluru. After few years when i complete this course `Data analysis with python: Zero to Pandas`. I think that i have to do some analysis about zomato service at Bangluru. I got this data from one of the best and famous website kaggle.com. I am using some functions in python for Exploratry Data analysis. like:

* **Pandas :** Pandas is an open source Python package that is most widely used for data science/data analysis and machine learning tasks. Pandas makes it simple to do many of the time consuming, repetitive tasks associated with working with data, including: `Data cleansing`,`Data fill`,`Data normalization`,`Merges and joins`,`Data visualization`,`Statistical analysis`,`Data inspection`,`Loading and saving data` And much more.
* **Numpy :** NumPy is a Python library used for working with arrays. It also has functions for working in domain of linear algebra, fourier transform, and matrices. NumPy is a Python library and is written partially in Python, but most of the parts that require fast computation are written in C or C++.
* **Matplotlib :** Matplotlib is a low level graph plotting library in python that serves as a visualization utility.
* **Seaborn :** Seaborn is a Python data visualization library based on matplotlib. It provides a high-level interface for drawing attractive and informative statistical graphics.


**Content :** The basic idea of analyzing the Zomato dataset is to get a fair idea about the factors affecting the establishment of different types of restaurant at different places in Bengaluru, aggregate rating of each restaurant, Bengaluru being one such city has more than 12,000 restaurants with restaurants serving dishes from all over the world. With each day new restaurants opening the industry has’nt been saturated yet and the demand is increasing day by day. Inspite of increasing demand it however has become difficult for new restaurants to compete with established restaurants. Most of them serving the same food. Bengaluru being an IT capital of India. Most of the people here are dependent mainly on the restaurant food as they don’t have time to cook for themselves. With such an overwhelming demand of restaurants it has therefore become important to study the demography of a location. What kind of a food is more popular in a locality. Do the entire locality loves vegetarian food. If yes then is that locality populated by a particular sect of people for eg. Jain, Marwaris, Gujaratis who are mostly vegetarian. These kind of analysis can be done using the data, by studying the factors such as

- Location of the restaurant.
- Approx Price of food.
- Theme based restaurant or not.
- Which locality of that city serves that cuisines with maximum number of restaurants.
- The needs of people who are striving to get the best cuisine of the neighborhood.
- Is a particular neighborhood famous for its own kind of food.

## Downloading the Dataset

I got this data set from kaggle.com. there are two type of download the dataset from anywhere and analyze.

1. use the `opendataset.download()` function and download the data directly from the link and do work on it directly.
2. Download the dataset manually as .csv or any kind of formate and upload the data by using pandas.read_csv function.

in this dataset i am using `opendatasets.download()` function by giving dataset link under the `Parenthesis`, and after doing this i am read the data by using `pandas.read_csv()` function.

In [1]:
!pip install opendatasets --upgrade --quiet

WARNING: You are using pip version 21.2.4; however, version 22.1.2 is available.
You should consider upgrading via the 'C:\Users\acer\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

Let's begin by downloading the data, and listing the files within the dataset.

In [2]:
# giving variable name of the dataset link
dataset_url = 'https://www.kaggle.com/datasets/himanshupoddar/zomato-bangalore-restaurants'

In [3]:
import opendatasets as od
od.download(dataset_url)

Downloading zomato-bangalore-restaurants.zip to .\zomato-bangalore-restaurants

100%|█████████████████████████████████████████████████████████████████████████████| 89.0M/89.0M [00:14<00:00, 6.31MB/s]

The dataset has been downloaded and extracted.

In [4]:
# Giving variable name of path
data_dir = './zomato-bangalore-restaurants'

In [5]:
import os
os.listdir(data_dir)

['zomato.csv']

Let us save and upload our work to Jovian before continuing.

In [6]:
project_name = "zomato-data-analysis-banglore"

## Data Preparation and Cleaning

**cleaning the data :** 
 This time to do some cleaning data by like : drop unwanted data, remove irritated symbols, handle null values and much more.
let's see how it happen.

> - Load the dataset into a data frame using Pandas
> - Explore the number of rows & columns, ranges of values etc.
> - Handle missing, incorrect and invalid data
> - Perform any additional steps (parsing dates, creating additional columns, merging multiple dataset etc.)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# Load the dataset in zomato_raw_df variable :
zomato_raw_df = pd.read_csv('./zomato-bangalore-restaurants/zomato.csv')
zomato_raw_df.head()

In [ ]:
# copy zomato_raw_df to zomato_df.. because now we are doing some cleaning data.
zomato_df = zomato_raw_df.copy()

In [ ]:
# all column name :
zomato_df.columns

In [ ]:
# how many rows and columns are available in this data :
zomato_df.shape

In [ ]:
# Drop the unwanted columns 
zomato_df.drop(columns = ['url','address', 'phone', 'menu_item', 'dish_liked', 'reviews_list'],axis = 1, inplace = True)

In [ ]:
zomato_df.head()

In [ ]:
# Drop duplicates in this dataset 
zomato_df.drop_duplicates(inplace= True)

In [ ]:
zomato_df.shape

In [ ]:
zomato_df.info()

In [ ]:
# check the null values :
zomato_df.isnull().sum()

**Handle Rate column :**
there are 7755 null values in Rate column and Rate column datatype is object. so we have to handle all of this and do clean this column for analysis and visualization.

In [ ]:
zomato_df['rate'].unique()

In [ ]:
# remove /5 and NEW in this column :
def remove_unwanted(values):
    if (values == 'NEW' or values == 'nan' or values == '-'):
        return np.nan
    else:
        values = str(values).split('/')
        values = values[0]
        return float(values)
    
zomato_df['rate'] = zomato_df['rate'].apply(remove_unwanted)
zomato_df['rate'].unique()

In [ ]:
# handle missing values and also fill mean value in null column :
zomato_df['rate'].fillna(zomato_df['rate'].mean(), inplace = True)

In [ ]:
zomato_df.info()

 check another null values :

In [ ]:
zomato_df.isnull().sum()

In [ ]:
# Drop the rest null values :
zomato_df.dropna(inplace= True)
zomato_df.head()

Drop the listed in (city) column. because we don't need location and listed in (city) both column. they both have same information..

In [ ]:
zomato_df.drop(columns = ['listed_in(city)'], axis = 1, inplace = True)

In [ ]:
zomato_df.head()

Check the `approx_cost(for two people)` columns and clean it. :

In [ ]:
zomato_df['approx_cost(for two people)'].unique()

In [ ]:
# Remove comma and change the dtype object to int64
zomato_df['approx_cost(for two people)'] = zomato_df['approx_cost(for two people)'].str.replace(',','')
zomato_df['approx_cost(for two people)'] = zomato_df['approx_cost(for two people)'].astype(int)

In [ ]:
zomato_df['approx_cost(for two people)'].unique()

In [ ]:
zomato_df.head()

Check the `rest_type` column and clean it if want :

In [ ]:
zomato_df['rest_type'].unique()

In [ ]:
value_rest_type = zomato_df['rest_type'].value_counts()
value_rest_type

In [ ]:
less_than1000_rest_type = value_rest_type[value_rest_type < 1000]
less_than1000_rest_type

In [ ]:
# create function and return all value which has less than 1000 .
def rest_type(value):
    if (value in less_than1000_rest_type):
        return 'others'
    else:
        return value
    
zomato_df['rest_type'] = zomato_df['rest_type'].apply(rest_type)
zomato_df['rest_type'].value_counts()

Clean the `cuisines` column like same as rest_type :

In [ ]:
cuisines_count = zomato_df['cuisines'].value_counts(ascending = False)
cuisines_count

In [ ]:
cuisines_less_than500 = cuisines_count[cuisines_count < 500]
cuisines_less_than500

In [ ]:
# return all less than 500 cuisines to others :
def cuisines_column(value):
    if (value in cuisines_less_than500):
        return 'others'
    else:
        return value

zomato_df['cuisines'] = zomato_df['cuisines'].apply(cuisines_column)
zomato_df['cuisines'].value_counts()

clean the `Location` column :

In [ ]:
location_counts = zomato_df['location'].value_counts(ascending = False)
location_counts

In [ ]:
less_than500_location = location_counts[location_counts < 500]
less_than500_location

In [ ]:
def location_column(value):
    if (value in less_than500_location):
        return 'others'
    else:
        return value

zomato_df['location'] = zomato_df['location'].apply(location_column)
zomato_df['location'].value_counts()

## Exploratory Analysis and Visualization

Data is completely cleaned and ready to use. now this time to visualize the data and better understand what exactly data is saying. for do this we will use some useful two function like : `matplotlib` and `seaborn`.

Let's begin by importing`matplotlib.pyplot` and `seaborn`.

In [ ]:
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

sns.set_style('darkgrid')
matplotlib.rcParams['font.size'] = 14
matplotlib.rcParams['figure.figsize'] = (9, 5)
matplotlib.rcParams['figure.facecolor'] = '#00000000'

In [ ]:
zomato_df.head()

**Order online :** lets understand how many customer do order online and how many not do this...


![](https://5.imimg.com/data5/OS/PP/CA/SELLER-6623185/food-delivery-app-development-like-ubereats-zomato-swiggy-foodpanda-etc--500x500.jpg)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# create pie chart to understand the percentage the customers who do always online orders :
online_orders = zomato_df['online_order'].value_counts()
online_orders.plot.pie(y='name',radius=1.1,autopct='%0.1f%%',shadow=True)
plt.title('Percentage of Customers online orders');

**Location :** Let's check how many orders having in diffrent locations. for do this we will use `countplot` function in seaborn library ..
- **note :** please ignore `others` location name in below graph. because others string has multiple location inside it.

In [ ]:
plt.figure(figsize = (16,10))
plt.title('Location orders')
sns.countplot(y=zomato_df['location']);

- we can easily understand that `BTM` location has highest orders zomato got.. and second number is `HSR` location..

**Book Table :**
How many person book table in Banglore city ...

<img src='https://4.bp.blogspot.com/-lnM6Szj8rI8/WWSREgSjjFI/AAAAAAAAAHI/OLneHeewSDcC3xfdW4n1yyHwNkXa9ja7ACLcBGAs/s1600/book-a-table-in-restaurant-online.jpg' style='width:600px;hights:400px'/>

In [ ]:
book_tables = zomato_df['book_table'].value_counts()
book_tables.plot.pie(y='name',radius=1.2,autopct='%0.1f%%',shadow=True, colors = ['#00bdfe', '#24b44c'])
plt.title('Percentage of Customers Book tables');

**Online Orders and Rate :**
Let's understand the relationship between the online orders and rate ...

In [ ]:
sns.boxplot(x = 'rate', y = 'online_order', 
            data = zomato_df);

## Asking and Answering Questions.

<img src='https://img.freepik.com/free-vector/people-thinking-about-something-smilling-woman-holds-chin_131454-387.jpg?w=2000' style='width:450px;hight:300px'/>

#### Q1: Which location has maximum online orders ?

In [ ]:
zomato_df.head()

In [ ]:
df = zomato_df.groupby(['location','online_order'])['name'].count()
df.to_csv('location_online.csv')
df = pd.read_csv('location_online.csv')
df = pd.pivot_table(df, values=None, index=['location'], columns=['online_order'], fill_value=0, aggfunc=np.sum)
clean_df = df.iloc[:-1]
clean_df.head()

In [ ]:
clean_df.plot(kind = 'bar', figsize = (15,8), title='online orders in location');

#### Q2: Which location has maximum rating about Restaurants?

<img src='https://assets-global.website-files.com/5eff9c5e4dba181f8aa2d1e0/614dfaed9cdcb08628f3b1cc_5-star-rating.jpeg'
     style='width:450px;hight:300px'/>

In [ ]:
zomato_df.head()

In [ ]:
df2 = zomato_df.groupby(['location'], as_index=False)[['rate']].mean()
clean_df2 = df2.iloc[:34]
clean_df2

In [ ]:
plt.figure(figsize = (14,9))
plt.title('Maximum rated restaurents in Location')
plt.xticks(rotation = 90)
plt.xlabel('Location')
plt.ylabel('Rating')
plt.plot(df2['location'], df2['rate'],'s-r')
sns.barplot(x='location', y='rate', data=clean_df2,palette='rainbow');

#### Q3: Which Location got maximum votes ?

<img src='https://media-exp1.licdn.com/dms/image/C4D12AQHiG8jz7UBTTw/article-cover_image-shrink_600_2000/0/1558744807546?e=1657152000&v=beta&t=vlg5K-OH4eNRKSETukWDRNJw1juP8wnPqTymCqrhj9o' style='width:300px;hight:200px'/>

In [ ]:
zomato_df.head()

In [ ]:
votes_df=zomato_df.groupby(['location'], as_index = False)[['votes']].sum()
clean_votes_df = votes_df.iloc[:34]
clean_votes_df

In [ ]:
plt.figure(figsize = (14,9))
plt.title('Maximum votes in Location')
plt.xticks(rotation = 90)
sns.barplot(x='location',y='votes',data=clean_votes_df);

#### Q4: Which cuisines got highest votes ?

<img src='https://thumbor.thedailymeal.com/RMy0wX6kVNVYQPH0Qgt6Q3HBSEc=//https://www.thedailymeal.com/sites/default/files/2020/05/28/iconic_dishes_hero.jpg' style='width:300px;hight:450px'/>

In [ ]:
zomato_df.head()

In [ ]:
cuisines_df = zomato_df.groupby(['cuisines'],as_index = False, sort= False)[['votes']].sum()
clean_cuisines_df = cuisines_df.iloc[1:]
clean_cuisines_df

In [ ]:
plt.title('Cuisines has highest Votes')
plt.xticks(rotation = 90)
sns.barplot(x='cuisines',y='votes',data=clean_cuisines_df);

#### Q5: Which location has highest cost food for 2 person ?

<img src ='http://thecontextofthings.com/wp-content/uploads/2018/08/sample-money-vector-illustration.jpg' style='width:300px;hight:350px'/>

In [ ]:
zomato_df.head()

In [ ]:
cost_df = zomato_df.groupby(['location'], as_index = False)[['approx_cost(for two people)']].max()
clean_cost_df = cost_df.iloc[:-1]
clean_cost_df

In [ ]:
plt.figure(figsize = (14,9))
plt.title('Which location is costely for 2 person')
sns.barplot(y='location', x='approx_cost(for two people)', data = clean_cost_df);

## Inferences and Conclusion

zomato is one of the best food online service. they have lots of the restaurants for delivery food. In this data we can understand lots of the things easily and understand the situation of zomato in banglore.
- There are 59.2% customers do online orders. Which is great percentage.
- 12.6% customers doesn't want to book table from zomato app. May be some application or website problem when book table or may be book table feature is not enough in zomato website.
- Relation ship of online orders and rate is positive.
- We can easily understand that maximum orders from BTM location in Banglore. Maybe zomato service is very good at this place or may be food is very good at this place.
- The maximum rating in Lavelle Road location in banglore. May be this location has best food.
- We can easily understand that customers do maximum voting at Koramangala 5th Block location in Banglore for zomato app use. 
- Maximum numbers of Customers love to eat north indian dishes alot in banglore. May be north indian dishes is best at banglore.
- Marathahalli is the one of the location in Banglore which has maximum costly foods for two people.

## References and Future Work

Resources referred:

- Stack Overflow
- W3schoold.com
- GeeksforGeeks
- matplotlib documentations 

Project reffered:
- Kaggle.com

All image is downloaded from google and zomato website and also wikipedia.
We can come back to optimise the code used in the current project, and use other libraries to plot different, more interactive graphs.

**Thanks for giving your valuable time for see my Exploratory Data Analysis project. This is my first project and i loved to do that. I enjoyed all the part of this project. I love to do more and make another projects. I learned lots of the things by doing this. I look forward to use the knowledge I have gained in this course and make more and better projects.**

#                                                Thank you 😊😊